<main class="hv-100 mx-auto">
  <section class="w-100 mx-auto">
    <article>
      <header>
        <h1 class="text-center mt-2 mb-0 fw-bolder">Calculator - IMC</h1>
        <p class="text-center">Learn more about the features of an imc calculator</p>
      </header>

      <div>
        <h3>Exploring weight through the BMI formula:</h3>
        <p>
          The <strong>Body Mass Index (BMI)</strong> is a measure used to
          classify an individual's weight status. It is calculated using the
          formula: <strong>weight</strong> (kg) / <strong>height</strong> (m^2).
          This formula is applicable to both men and women and is specifically
          designed for adults.
        </p>

        <p>
          To obtain accurate measurements, it is recommended to
          <strong>weigh oneself</strong> in the morning on an empty bladder and
          rectum, while fasting and wearing only underwear. Inp
        </p>
      </div>
    </article>

    <section class="form d-flex justify-content-center align-items-center">
      <form class="col-xs-6 col-md-6">
        <div>
          <div class="row w-75 mx-auto">
            <label class="mt-2 fw-bolder">Weight in KG:</label>
            <input
              type="text"
              [maxLength]="5"
              currencyMask
              [options]="{}"
              class="form-control"
              placeholder="(example: 85)"
              [(ngModel)]="weight"
              name="weight"
            />
          </div>

          <div class="row w-75 mx-auto">
            <label class="mt-2 fw-bolder">Height in meters:</label>
            <input
              maxlength="3"
              type="text"
              class="form-control "
              currencyMask
              [options]="{}"
              [(ngModel)]="height"
              name="height"
              placeholder="(example: 1.80)"
            />
            <button
              (click)="calculate()"
              class="btn class btn btn-outline-dark mt-3"
            >
              Calculate
            </button>
          </div>
        </div>
      </form>
      <div class="col-xs-6 col-md-6 text-center">
        <div
          class="embed-responsive embed-responsive-1by1"
          style="max-width: 250px; max-height: 250px"
        >
          <img
            id="img"
            [src]="imagePath"
            class="img-responsive rounded embed-responsive-item img-fluid"
            alt="Responsive image"
          />
        </div>
      </div>
    </section>
    <p
      id="desc"
      class="hidden fw-bolder text-center mx-auto mt-3 w-50 red"
    >
      {{ description }}
    </p>
    <p id="result" class="hidden text-center mx-auto mt-3 w-50">
      For a weight of
      <strong>{{ weight.toLocaleString('pt-BR', {
  minimumFractionDigits: 2,
  maximumFractionDigits: 2,
}) }}</strong>
      kilograms and a height of
      <strong>{{ height.toLocaleString('pt-BR', {
  minimumFractionDigits: 2,
  maximumFractionDigits: 2,
}) }}</strong>
      meters, his IMC/BMI is:
      <strong>{{ result }}</strong>

      You are in the group: <strong>{{ description }}</strong>
      <br />
      <strong class="mx-auto text-center">
        <i class="bi bi-star-fill"></i>
      </strong>
    </p>
  </section>
</main>
