* {
  font-family: "Poppins", sans-serif;
}


main {
  width: 50%;
  padding: 2rem 2rem;
}

.hidden {
  display: none;
}

.attention{
  color: #dc2626;
}

.normal{
  color: #16a34a;
}

@media screen and (max-width: 1124px) {
  main {
    width: 75%;
    padding: 2rem 0rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 2rem 2rem;
  }
  form {
    width: 100%;
    display: grid;
  }
}
