<main class="container  bg-danger d-flex justify-content-center align-items-center" >
<form class="form w-50 row">
  <h1 class="text-center">Calculator - IMC</h1>
  <div>
    <div class="row w-50 mx-auto">
      <label class="mt-2">Weight in KG:</label>
      <input
        type="text"
        [maxLength]="5"
        currencyMask
        [options]="{}"
        class="form-control"
        placeholder="(example: 85)"
        [(ngModel)]="weight"
        name="weight"
      />
    </div>

    <div class="row w-50 mx-auto" >
      <label class="mt-2">Height in meters:</label>
      <input
        maxlength="3"
        type="text"
        class="form-control"
        currencyMask
        [options]="{}"
        [(ngModel)]="height"
        name="height"
        placeholder="(example: 1.80)"
      />
    </div>
    <button (click)="calculate()" class="btn">Calculate</button>
    <p id="result" class="hidden">
      For a weight of <strong>{{ weight.toLocaleString('pt-BR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      }) }}</strong> kilograms and a height of
      <strong>{{ height.toLocaleString('pt-BR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      }) }}</strong>
      meters, his IMC/BMI is:
      <strong>{{ result }}</strong>

      You are in the group: <strong>{{ description }}</strong>
    </p>
  </div>
  <i class="text-center bi bi-star-fill"></i>
</form>
<div class="col bg-danger hidden"></div>
</main>
